node_modules/
client/node_modules/
server/node_modules/
.env
client/.env
server/.env
*.db
*.sqlite
*.sqlite-journal
*.ps1
client/dist/
.DS_Store
logs/
*.log
package-lock.json
**/package-lock.json

.vscode/
*.swp
